{% extends 'layouts/base.html' %}

{% load static  %}

{% block content  %}



<div class="cover">
    <div id="three-container">
        
    </div>    
</div>

 <main>
    <div id="slider" class="slider">
      <img src="{% static 'img/imagen9.png' %}" alt="">
    </div>
</main>


<main class="cuadro-ids">
    
    
        <div class="titulo1">
            <h3 id="servicios"> POR QUE NECESITAS UN IDS?</h3>
            
        </div>
        <div class="t-i">
            <div class="texto-t1">
                <p>En un mundo digital cada vez más interconectado, la seguridad de la red es de suma importancia. Un IDS es una herramienta esencial que permite identificar actividades sospechosas o maliciosas en una red, proporcionando una capa adicional de defensa contra intrusiones, ataques de malware y otras amenazas.</p>
            </div>
                <img class="imagen5" src="{% static 'img/ciberdelitos_españa.png' %}" alt="">
            
            
        </div>
        <div class="cuadrado-ids">
            <div class="fotos-servicios">
                <img src="{% static 'img/snort_logo_icon_167981.png' %}" alt="">
                <img src="{% static 'img/forti.png' %}" alt="">
            </div>
            <div class="ids-esquema">
                <img class="ids-expl" src="{% static 'img/ids_foto.png' %}" alt="">
            </div>
        </div>
        
        
    
</main>
<main>
    <div class="titulo2">
        <br>
        <h3 id="nostros" class="titulo2"><b>NUESTROS SERVICIOS</b></h3>
        <br>
    </div>
    <nav class="navbar2">
        <div class="contenedor">
            <div class="row">
                <div class="cuadrado">
                    <p class="titulo-cuadrado">SEGURIDAD</p>
                    <img class="imagen-cuadrado" src="{% static 'img/imagen6.png' %}" alt="imagen6">
                    <p class="texto-cuadrado1">En IDSecurity, nos especializamos en ofrecer soluciones de seguridad de vanguardia para proteger su red empresarial.</p>
                </div>
                    
                <div class="cuadrado">
                    <p class="titulo-cuadrado">ANALISIS DETALLADOS DE LA RED</p>
                    <img class="imagen-cuadrado"  src="{% static 'img/imagen7.png' %}" alt="">
                    <p class="texto-cuadrado2">Ofrecemos un análisis exhaustivo de la red, identificando dispositivos, escaneando puertos y servicios, y evaluando la configuración de seguridad.</p>
                </div>
                <div class="row"></div>
            </div>
            <div class="row">
                <div class="cuadrado">
                    <p class="titulo-cuadrado">MONITORIZACIÓN</p>
                    <img class="imagen-cuadrado"  src="{% static 'img/imagen8.png' %}" alt="">
                    <p class="texto-cuadrado3">Proporcionamos monitoreo continuo de la red, alertas instantáneas ante cualquier actividad sospechosa, y análisis en tiempo real para garantizar la seguridad y la integridad de su infraestructura.</p>
                </div>
                <div class="cuadrado">
                    <p class="titulo-cuadrado">ALERTAS</p>
                    <img class="imagen-cuadrado"  src="{% static 'img/imagen9.png' %}" alt="">
                    <p class="texto-cuadrado4">Nuestro sistema de alertas ofrece notificaciones inmediatas sobre cualquier actividad anómala en su red, asegurando una respuesta rápida y eficiente ante posibles amenazas.</p>
                </div>
                <div class="row"></div>
            </div>
    </nav>
</main>
<main>
    <div class="titulo4">
        <br>
        <h3 id="objetivos">OBJETIVOS</h3>
        <br>
    </div>

    <div class="texto7">
        <br>
        <nav class="cuadrado5">

            <ul>
                <li>
                    <p>Monitorizar los paquetes de la red</p>
                </li>
        </nav>
        <nav class="cuadrado5">
            </ul>
            <ul>
                <li>
                    <p>Crear un sistema que notifique cuando hagan alguna intrusión</p>
                </li>
            </ul>
        </nav>
        <nav class="cuadrado5">
            <ul>
                <li>
                    <p>Desarrollar un Firewall que responda a cualquier ataque malicioso</p>
                </li>
            </ul>
        </nav>
        <nav class="cuadrado5">
        
            <ul>
                <li>
                    <p>Promocionar nuestro servicioso mediante nuestra página</p>
                </li>
            </ul>
        </nav>
        <br>
    </div>
</main>

<main class="fondo">
    <div class="titulo5">
        <br>
        <h3>SOBRE NOSTROS</h3>
    </div>
    
    <div>
        <p class="alo">
            En IDSecure, nos enorgullecemos de ser líderes en el campo de la seguridad informática. Nuestro viaje comenzó hace años, cuando un equipo de entusiastas de la tecnología se unió con un propósito común: proteger los activos digitales de individuos y organizaciones contra las crecientes amenazas cibernéticas.
            En un mundo donde la información es un activo invaluable y las transacciones digitales son la norma, la seguridad informática se ha convertido en una preocupación central para empresas de todos los tamaños. Nos dimos cuenta de que la protección contra ataques maliciosos era esencial, y así nació nuestra misión.
        </p>
    </div>
    <br>
    <br>
</main>

<main>
    <div class="titulo6">
        <h3 id="contactos" class="contactos">COMO CONTACTARNOS</h3>
        <div class="contacto-container">
            <div class="contacto-item">
                <div class="imagen-container">
                    <img src="{% static 'img/gmail.png' %}" alt="">
                </div>
                <p>IDSecure@gmail.com</p>
                <p>IDSecuretikets.com</p>
            </div>
            <div class="contacto-item">
                <div class="imagen-container">
                    <img src="{% static 'img/telefono.png' %}" alt="">
                </div>
                <p>+34 699711854</p>
                <p>+34 699822214</p>
            </div>
            <div class="contacto-item">
                <div class="imagen-container">
                    <img src="{% static 'img/linkedin.png' %}" alt="">
                </div>
                <p>IDSecure_Linkedin</p>
                <p></p>
            </div>


        </div>


    </div>

    </div>

</main>
</main>

<footer>
    <table class="footer-table">
        <tr>
            <td><a href="{% url 'politicas' %}">Políticas de privacidad</a></td>
            <td><a href="{% url 'faqs' %}">FAQs</a></td>
            <td><a href="#contactos">Contacto</a></td>
            <td><a href="{% url 'home' %}">Home</a></td>
        </tr>
    </table>
</footer>



{% endblock %}

